/*@media screen and (orientation: portrait){*/
	html {
		font-size: 10px;
	}
/*	@media (max-width: 1080px) {
		html {
			font-size: calc(100vw / 6.4)
			}
		}*/
	* {
		margin: 0;
		border: 0;
	}
	body {
		background-color: #68cdd5;
	}
	div {
		position: relative;	
	}
	img { 
		position: relative; 
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
		max-width: 100%; 
		float: left;
	}
	.back {
		position: absolute; 
		left: 1.8rem; 
		top: 1rem;
		width: 2.7rem; 
		height: 2.7rem; 	}
	.logo {
		position: absolute; 
		left: 50%; 
		top: 5.8rem; 
		margin-left: -4.5rem;
		width: 9rem; 
		height: 3.5rem; 
	}
	.content {
		position: absolute; 
		left: 4.5rem; 
		top: 15.2rem; 
		right: 5rem;
	}
	.class {
		position: absolute; 
		left: 6rem; 
		top: 33.7rem;		
		width: 6rem; 
		height: 7.5rem; 
		padding-bottom: 10rem;
	}
	.logo2 {
		position: absolute; 
		right: 5.5rem; 
		top: 33.7rem;		
		width: 6rem; 
		height: 7.5rem; 
		padding-bottom: 10rem;
	}
	p {
		height: 12.5rem;		
		float: left;		
		color: #fff; 
		font-size: 1.5rem; 
		overflow: hidden;
	}
/*}
@media screen and (orientation: landscape){
	横屏适配
}*/
